# Everything ignored by default - files must be explicitly NOT ignored
*

# Explicitly NOT ignored
!.github/
!.github/workflows/
!.github/workflows/docs.yml
!.github/workflows/tests.yml
!.gitignore
!LICENSE
!MANIFEST.in
!README.md

# agave_chem/
!agave_chem/
!agave_chem/__init__.py
!agave_chem/datafiles/reaction_classes.json
!agave_chem/datafiles/smirks_patterns.json
!agave_chem/main.py
!agave_chem/mappers/
!agave_chem/mappers/__init__.py
!agave_chem/mappers/identical_fragments/
!agave_chem/mappers/identical_fragments/__init__.py
!agave_chem/mappers/identical_fragments/identical_fragment_mapper.py
!agave_chem/mappers/mcs/
!agave_chem/mappers/mcs/__init__.py
!agave_chem/mappers/mcs/mcs_mapper.py
!agave_chem/mappers/reaction_mapper.py
!agave_chem/mappers/template/
!agave_chem/mappers/template/__init__.py
!agave_chem/mappers/template/template_initialization.py
!agave_chem/mappers/template/template_mapper.py
!agave_chem/scoring.py
!agave_chem/utils/
!agave_chem/utils/__init__.py
!agave_chem/utils/chem_utils.py
!agave_chem/utils/constants.py
!agave_chem/utils/logging_config.py

# docs/
!docs/
!docs/getting_started.md
!docs/index.md
!docs/installation.md
!docs/stylesheets/extra.css
!mkdocs.yml
!requirements.txt
!pyproject.toml