# Everything ignored by default - files must be explicitly NOT ignored
*

# Explicitly NOT ignored
!.github/
!.github/workflows/
!.github/workflows/docs.yml
!.github/workflows/tests.yml
!.github/workflows/publish.yml

!.gitignore
!.gitattributes
!LICENSE
!MANIFEST.in
!README.md
!mkdocs.yml
!requirements.txt
!pyproject.toml

!agave_chem/

!agave_chem/__init__.py
!agave_chem/main.py

!agave_chem/scoring/
!agave_chem/scoring/__init__.py
!agave_chem/scoring/scoring.py

!agave_chem/datafiles/
!agave_chem/datafiles/__init__.py
!agave_chem/datafiles/smirks_patterns/
!agave_chem/datafiles/smirks_patterns/__init__.py
!agave_chem/datafiles/smirks_patterns/smirks_patterns_with_children.json
!agave_chem/datafiles/models/
!agave_chem/datafiles/models/__init__.py
!agave_chem/datafiles/models/supervised_albert_model/
!agave_chem/datafiles/models/supervised_albert_model/__init__.py
!agave_chem/datafiles/models/supervised_albert_model/config.json
!agave_chem/datafiles/models/supervised_albert_model/model.safetensors
!agave_chem/datafiles/models/supervised_albert_model/supervised_albert_model.pt

!agave_chem/mappers/
!agave_chem/mappers/__init__.py
!agave_chem/mappers/reaction_mapper.py
!agave_chem/mappers/types.py

!agave_chem/mappers/identical_fragments/
!agave_chem/mappers/identical_fragments/__init__.py
!agave_chem/mappers/identical_fragments/identical_fragment_mapper.py

!agave_chem/mappers/mcs/
!agave_chem/mappers/mcs/__init__.py
!agave_chem/mappers/mcs/mcs_mapper.py

!agave_chem/mappers/template/
!agave_chem/mappers/template/__init__.py
!agave_chem/mappers/template/template_initialization.py
!agave_chem/mappers/template/template_mapper.py

!agave_chem/mappers/neural/
!agave_chem/mappers/neural/__init__.py
!agave_chem/mappers/neural/neural_mapper.py
!agave_chem/mappers/neural/constants.py
!agave_chem/mappers/neural/tokenizer.py
!agave_chem/mappers/neural/model.py

!agave_chem/utils/
!agave_chem/utils/__init__.py
!agave_chem/utils/chem_utils.py
!agave_chem/utils/constants.py
!agave_chem/utils/logging_config.py
!agave_chem/utils/graph_utils.py
!agave_chem/utils/symmetry_classes.py

!docs/
!docs/getting_started.md
!docs/index.md
!docs/installation.md
!docs/reference.md
!docs/stylesheets/extra.css

!examples/
!examples/example_notebook.ipynb

!workflows/

!workflows/benchmarking/
!workflows/benchmarking/benchmark.py
!workflows/benchmarking/gold_reactions.txt
!workflows/benchmarking/gold_reactions_filtered.txt
!workflows/benchmarking/localmapper_gold_reactions_filtered_results.txt
!workflows/benchmarking/rxnmapper_gold_reactions_filtered_results.txt

!workflows/data/

!workflows/model_training_scripts/
!workflows/model_training_scripts/albert_mapper_unuspervised_training.py
!workflows/model_training_scripts/albert_mapper_supervised_training.py
!workflows/model_training_scripts/unsupervised_training.py
!workflows/model_training_scripts/supervised_training.py
!workflows/model_training_scripts/layer_head_identification.py

!workflows/template_processing/
!workflows/template_processing/generate_child_smarts_from_smirks.py
!workflows/template_processing/generate_nucleophilic_substitution_reactions.py
!workflows/template_processing/data/
!workflows/template_processing/data/name_reactions.json
!workflows/template_processing/data/nuc_sub_reactions.json
!workflows/template_processing/data/priority_classes.json
!workflows/template_processing/data/reaction_classes.json
!workflows/template_processing/data/rxno_ontology.json
!workflows/template_processing/data/smirks_patterns.json

!workflows/training_data_generation/
!workflows/training_data_generation/map_reactions.py

!tests/
!tests/unit/
!tests/integration/
!tests/integration/uspto_1k_reactions.txt
!tests/unit/test_*.py
!tests/integration/test_*.py

!manuscript/
!manuscript/images/
!manuscript/images/*.png
!manuscript/manuscript.tex
!manuscript/manuscript.pdf